<section>
    <div class="container mt-5">
        <form action="" method="post">
            <div class="row">


                <div class="col-md-6">
                    <h2><b>Enter Delivery Details</b></h2>
                    <div>
                        <label for="address">Address</label><br>
                        <input type="text" class="type" name="Address"><br>
                        <label for="pincode">Pincode</label><br>
                        <input type="text" class="type" name="Pincode"><br>
                        <label for="mobile">Mobile</label><br>
                        <input type="text" class="type" name="Mobile"><br>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout"></div>
                    <h5>Total Amount: Rs. {{total}}</h5><br>
                    <hr>
                    <div class="payment">
                        <p>Payment Method</p><br>
                        <input type="radio" class="radio">
                        <label for="COD">COD</label><br>
                        <input type="radio" class="radio">
                        <label for="onlinePay">Online Payment</label><br>
                        <a href="" class="btn btn-success">CheckOut</a>
                    </div>

                </div>
            </div>
        </form>


    </div>
</section>